body {
    font-size: 14px;
    font-family: Verdana, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

#title{
    font-size:45px;
}

li {
    line-height: 2;
}

input[type="text"] {
    padding: 6px 8px;
    font-size: 14px;
    width: 300px;
}

ul {
    list-style: none;
}

/* li:nth-child(even) {
    background:#CCCCCC;
} */

#messages_frontline li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#messages_stayhome li {
    padding-top: 5px;
    padding-bottom: 5px;
}

#messages_infected li {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* .nav-item {
    background-color: aqua;
} */