body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    padding: 20px;
}

h1 {
    font-size: 30px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    font-weight: normal;
}

#title{
    font-size:45px;
}

li {
    line-height: 2;
}

input[type="text"] {
    padding: 6px 8px;
    font-size: 16px;
    width: 300px;
}

#messages_frontline {
    list-style: none;
}

#messages_frontline li {
    padding-top: 7px;
    padding-bottom: 7px;
}

#messages_stayhome li {
    padding-top: 7px;
    padding-bottom: 7px;
}

#messages_stayhome {
    list-style: none;
}

#messages_infected li {
    padding-top: 7px;
    padding-bottom: 7px;
}

#messages_infected {
    list-style: none;
}
